<!doctype html>


<head><title>PowerFlowAI</title> 
    <meta charset=utf-8> </head>



    Input:<br>
	<input type="text" placeholder = "Vehicle #" id="vehicleNo"><br>
	<input type="text" placeholder = "Current Time (MM/DD/YYYY HH:MM)" id="currentTime"><br>
	<input type="text" placeholder = "Current Charge (#%)" id="currentCharge"><br>
	<input type="text" placeholder = "Desired Charge (#%)" id="desiredCharge"><br>
	<input type="text" placeholder = "Departure Time (MM/DD/YYYY HH:MM)" id="departureTime"><br>
	<input type="text" placeholder = "NewStatus {Arrived / Charging}" id="newStatus"><br>


	<button onclick="addVehicle()">Add Vehicle</button>
	<button onclick="optimize()">Optimize</button>
	<div id="output"></div>

	</body>

	<script src="https://cdn.jsdelivr.net/npm/superagent"></script>
	<script>
	function optimize(){
	   var url = '/optimize/';

	   superagent
	       .get(url)
	       .end(function(err, res){
	           if (err) {
	               console.log('err:',err);
	           } else {
	               console.log('response:',res.text);
	               document.body.append(res.text)
	               //return res.text

	           }

	       });

		
	}

	</script>

	<script>
	function addVehicle(){
	   var vehicleNo = document.getElementById('vehicleNo').value;
	   var currentTime = document.getElementById('currentTime').value;
	   var currentCharge = document.getElementById('currentCharge').value;
	   var desiredCharge = document.getElementById('desiredCharge').value;
	   var departureTime = document.getElementById('departureTime').value;
	   var newStatus = document.getElementById('newStatus').value;
	   console.log(vehicleNo);
	   console.log(currentTime);
	   console.log(currentCharge);
	   console.log(desiredCharge);
	   console.log(departureTime);
	   console.log(newStatus);

	   var url = `/addVehicle?vehicleNo=${vehicleNo}&currentTime=${currentTime}&currentCharge=${currentCharge}&desiredCharge=${desiredCharge}&departureTime=${departureTime}&newStatus=${newStatus}`;

	   superagent
	       .get(url)
	       .end(function(err, res){
	           if (err) {
	               console.log('err:',err);
	           } else {
	               console.log('response:',res.text);
	           }
	       });
	}
	</script>









